<%# let's create a nice card where to wrap the patient info and edit them %>

<div class="container">
  <div class = "top-container relative h-screen w-screen justify-items-center text-center">
    <div class="card bg-blue-100 mb-2.5 rounded-md">
      <%= form_with model: @patient do |f| %>
        <%= f.label :name %><br>
        <%= f.text_field :name %><br>
        <%= f.label :location %><br>
        <%= f.text_field :location %><br>
        <%= f.label :details %><br>
        <%= f.number_field :details %><br>
        <%= f.submit class: "bg-blue-400 rounded p-1 my-4"%>
      <% end %>
    </div>
    <%= image_tag "home-bg.png", class: "z-0 relative bottom-0" %>
  </div>
</div>
