<%# let's create a nice card where to wrap the patient info and edit them %>


<div class="container m-3">
  <div class = "top-container relative h-screen w-screen justify-items-left text-left">
  <%= image_tag "person.png", class: "mb-8" %>
    <div class="card 0 mb-2.5 rounded-md text-blue-600">
      <%= form_with model: @patient do |f| %>
        <%= f.label :name %><br>
        <%= f.text_field :name %><br><br>
        <%= f.label :location %><br>
        <%= f.text_field :location %><br><br>
        <%= f.label :details %><br>
        <%= f.number_field :details %><br>
        <%= f.submit class: "bg-blue-400 rounded p-1 my-4"%>
      <% end %>
    </div>
  </div>
</div>
